:root {
  --color-primary: #ffd32a;
  --color-secondary: #ffffff;
  --color-background-primary: transparent;
  --color-background-secondary: rgba(255, 255, 255, 0.03);
  --color-daily: #D0FF00;
  --color-global: #D0FF00;
  --color-social: #D0FF00;

  --primary-grey: #141414;
  --secondary-grey: rgb(34, 34, 34);
  --primary-border:#1f1f1f;
  --divider: #3d3d3d;

  --bg-vote-grey: #212121;

  --color-grey: #cacaca;
  --text-grey: #9B9B9B;

  --secondary-background-grey: #202020;

  --border-grey: rgb(26, 26, 26);
  --bg-grey: rgba(157, 157, 157, 0.05);
}

button {
  border: none;
  outline: none;
}

button:focus,
button:focus-visible {
  outline: none;
}

