@import "./styles/variables.css";

.container {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.topBar {
  width: 100%;
  height: 25px;
  background-color: var(--color-primary);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.logo {
  width: 350px;
  margin-top: 40px;
}

.title {
  font-size: 1em;
  margin: 0 0 20px 0;
  color: var(--color-primary);
  font-weight: bold;
}

.textBlock {
  text-align: left;
  max-width: 80%;
}

.claimsBox {
  width: 80%;
  border: 2px solid var(--color-primary);
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.highlight {
  color: var(--color-primary);
}

.walletSection {
  width: 80%;
  margin: 10px;
}

.createBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--color-primary);
  color: #000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  text-transform: uppercase;
  height: 48px;
  padding: 8px 16px;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.2s, background-color 0.2s;
}

.createBtn:hover {
  transform: scale(1.05);
  background-color: #ffed4e;
}

.createBtnIcon {
  width: 44px;
  margin-right: 10px;
}

.bottomBar {
  width: 100%;
  height: 25px;
  background-color: var(--color-primary);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
